*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body{
  background-color: #130033;
  color: white;
  font-family: 'outfit';
  zoom: 67%;
  transform-origin: top left;
  width: 98%;  
}

#root {
  min-height: 100vh;
}